#post-container {
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    padding: 1%;
}

.side {
    background-image: url('../img/pattern.png');
    background-size: 100%;
}

.post {
    border: 1px solid lightgrey;
    padding: 1%;
    border-radius: 7px;
    margin-bottom: 1%;
}

.post-user {
    display: flex;
    border-bottom: 1px solid lightgrey;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.post-date {
    align-self: center;
}

.post-user a {
    font-size: 20px;
}

.post-prof-pic {
    max-width: 25px;
    border-radius: 25px;
    margin-right: 10px;
}

.img-container {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
    text-align: center;
}

.post-img {
    /* min-width: 100%; */
    max-width: 100%;
}

.body-container {
    padding-top: 1%;
    padding-left: 1%;
    border-bottom: 1px solid lightgrey;
}

.post-body {
    margin-bottom: 1.5%;
}

.comments-container {
    max-height: 9rem;
    overflow-y: auto;
}

.comments-container .comment {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 7px;
    padding-left: 10px;
    padding-bottom: 7px;
    border-bottom: 1px solid lightgrey;
}

.post-comment {
    padding-top: 7px;
    padding-left: 10px;
}

.comment-form {
    padding-right: 10px;
}


.comment-form span {
    margin-right: 20px;
}

.comment-input {
    min-width: 32rem;
    margin-right: 20px;
}