#profile-pic {
    max-width: 300px;
}

#profile-name {
    font-size: 30px;
}

.post {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 1%;
    margin-right: 10px;
    display: flex;
}

.post:hover {
    cursor: pointer;
    background-color: whitesmoke;
    filter: brightness(0.7);
}

.post-img {
    max-width: 100%;
    object-fit: cover;
}

.post-info {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 1%;
}

.body-container {
    padding-top: 2%;
    padding-left: 2%;
    border-bottom: 1px solid lightgrey;
}

.post-body {
    margin-bottom: 2%;
}

.post-prof-pic {
    max-width: 25px;
    border-radius: 25px;
    margin-right: 10px;
}

.comments-container .comment {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid lightgrey;
}

.post-comment {
    padding-top: 7px;
}

.modal-img {
    max-width: 100%;
}
