@font-face {
    font-family: 'Oleo';
    src: url('../fonts/OleoScript-Regular.ttf');
}

body {
    background-color: black;
}

.form-wrapper {
    margin: 0%;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    min-width: 100vw;
    background-image: url('../img/sea_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#title {
    font-family: Oleo, sans-serif;
    font-size: 40px;
    text-align: center;
}

#sign-up-form {
    background-color: white;
    border-radius: 15px;
    padding: 2%;
}