@font-face {
    font-family: 'Oleo';
    src: url('../fonts/OleoScript-Regular.ttf');
}

#title {
    font-family: Oleo, sans-serif;
    font-size: 40px;
    text-align: center;
}

a {
    display: block;
    text-align: center;
}

.form-wrapper {
    margin: 0%;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    min-width: 50vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-container {
    background-image: url('../img/travel-collage.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#sign-in-form {
    background-color: whitesmoke;
    padding: 5% 2% 5% 2%;
    border: 1px solid lightgrey;
}