@font-face {
    font-family: 'Oleo';
    src: url('../fonts/OleoScript-Regular.ttf');
}

.navig {
    border-bottom: 1px solid lightgrey;
    background-color: white;
}

#add-post {
    border-radius: 25px;
}

#prof-btn {
    margin-left: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#title {
    font-family: Oleo, sans-serif;
    font-size: 24px;
    margin: 0px;
    color: black;
    text-decoration: none;
}

#search-user {
    margin-left: 5%;
    max-width: 30%;
}

#prof-pic {
    margin-left: 5px;
    max-width: 25px;
    border-radius: 25px;
}

#sign-out-button {
    width: 100%;
}

.container-fluid {
    margin-top: 58px;
}